@import url("//fonts.googleapis.com/css?family=Google+Sans:400,500,600,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Google Sans", Helvetica, Arial, sans-serif;
}

:root {
  --primaryClr: #0d76a7;
  --secondaryClr: #e3e9e9;
  --txtClr: #bae2e9;
  --hoverClr: #e0eff0;
  --hoverClr2: #000000;
}

body{
  background-color: var(--secondaryClr);
}

img{
  width: 80%;
  border-radius: 5px;
}


header{
  background-color: var(--primaryClr);
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 0px;
  height: 40px;
  padding: 0 10px;
  transition: .2s ease;

}

.sidebar{
  width: 0px;
  background-color: var(--primaryClr);
  position: fixed;
  height: 100vh;
  top: 0;
  overflow: hidden;
  left: 0;
  border-right: 1px solid #3e3e3e;
  transition: .2s ease;
}

header.open{
  margin-left: 20vh;
}

.sidebar.open{
  width: 20vh;
  z-index: 333;
}

.profile{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-size: 12px;
  align-items: center;
}

.info{
  text-align: center;
}

li{
  list-style: none;
  padding: 4px;
}

li a{
  text-decoration: none;
  color: var(--txtClr);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 20px;
  font-size: 10px;
  font-weight: bold;
}

i{
  font-size: 25px !important;
  color: var(--txtClr);
  cursor: pointer;
}

li:hover{
  background-color: var(--hoverClr);
  transition: 0.6s;
}

li:hover a{
  color: var(--hoverClr2);
  transition: 0.3s;
}

li:hover a i{
  color: var(--hoverClr2);
  transition: 0.3s;
}

/*HERO*/
.hero{
  
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0px 100px;
}
.heroInfo{
  height: 50vh;
}
.info{
  width: auto;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 100px;
}
.containerImg{
  width: 50vh;
}

.containerInfoText{
  width: 50vh;
}