*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
:root{
    --color-primario:#1877f2;
    --text-color:#0a1f4a;
    --bf-color:#fff;
    --color-texto-primario:#20b6e8;
    --color-texto-secundario:#156796;
    --color-negro-bajo:#212226;
    --color-plomo-claro:#666666;
    --gradient: linear-gradient(#0a1f4a,#156796);
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: #0a1f4a;
    border-radius: 6rem;
}
body{
    background: #E0E4E5;
    overflow-x: hidden;
}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #335adb;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}

.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #2D3E50;

	color: #fff;
	text-align: center;
	text-decoration: none;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}
.logo img{
    width: 70px;
}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--color-negro-bajo);
    font-weight: 500;
}
.navbar a::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--color-negro-bajo);
    font-weight: 500;
}
.header-btn .ingresar{
    background: var(--color-texto-secundario);
    color: #fff;
    border-radius: 0.5rem;
    transition: 0.3s;
}
.header-btn .ingresar:hover{
    background: var(--color-primario);
}
.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url(../img/lavado002.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.text h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
}
.text span{
    color: var(--color-primario);
}
.text p{
    margin: 0.5rem 0 1rem;
}
.btn-home{
    display: flex;
}
.btn-home a{
    width: 100px;
    margin-right: 1rem;
    background: var(--text-color);
    padding: 10px;
    color: #fff;
    border-radius: 0.5rem;
    transition: 0.3s;
}
.btn-home a:hover{
    background:var(--color-primario);
}
.form-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 0.5rem;
}
.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span{
    font-weight: 500;
}
.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background:#eeeff1;
    border-radius: 05rem;
    font-size: 1rem;
}
.form-container form .btnBuscar{
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: var(--text-color);
    color: var(--bf-color);
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
}
.form-container form .btnBuscar:hover{
    background: var(--color-primario);
    cursor: pointer;
}
.heading{
    text-align: center;
    margin-top: 1rem;
}
.heading span{
    font-weight: 500;
    text-transform: uppercase;
}
.heading h2{
    font-size: 2rem;
}

@keyframes pulsar {
    0% {
        box-shadow: 0 0 8px var(--color-texto-primario);
    }
    50% {
        box-shadow: 0 0 17px var(--text-color);
    }
    100% {
        box-shadow: 0 0 8px var(--color-texto-primario);
    }
}


/*foooooter*/
#footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    height: 100%;
    width: 100%;
    background: var(--text-color);
}

#footer h4{
    font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
}
#footer .socials, .ubicacion, .horario{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;    
}
#footer .socials{
    text-align: start;
}
#footer img{
    filter: invert(100%);
    width: 40px;
    height: auto;
    margin: 0 10px 10px 0;
}

#footer a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    align-items: center;
    display: flex;
    text-align: center;
}

#footer .libro-reclamaciones-logo img{
    width: 200px;
    height: auto;
}

.libro-reclamaciones-logo{
    margin: 0px 50px;
}

.group-2{
    width: 100%;
    background: var(--gradient);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.group-2 small{
    font-size: 15px;
}
    
/*RESPONSIVE*/
@media (max-width: 1310px ){
    header{
        padding: 18px 40px;
    }
    section{
        padding: 50px 40px;
    }
}
@media (max-width: 1050px ){
    .home{
        background-position: left;
    }
    .form-container form{
        bottom: 0.2rem;
        left: 40px;
    }
    header{
        padding: 11px 40px;
    }
    #menu-icon{
        display: initial;
    }
    .registrarse{
        display: none;
    }
    .text h1{
        font-size: 2.5rem;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .form-container form{
        position: unset;
    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        transition: 0.2s ease;
        text-align: left;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a{
        padding: 1rem;
        border-left: 2px solid var(--text-color);
        margin: 1rem;
        display: block;
    }
    .navbar a:hover{
        color: #fff;
        background: var(--text-color);
        border: none;
    }
    .navbar a::after{
        display: none;
    }
    .nosotros-container, 
    .ofrecemos-container{
        width: 100%;
        max-width: 100%;
        padding: 20%;
    }
    .nosotros-container{
        flex-direction: column;
        text-align: center;
    }
    .nosotros-img{
        margin: 0 auto;
    }
    .nosotros-text{
        width: 100%;
        max-width: 100%;
    }
    .ofrecemos-container {
        flex-direction: column;
        text-align: center;
    }
    .ofrecemos-img {
        margin: 0 auto;
    }
    .ofrecemos-text {
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 600px ){

    section {
        padding: 30px;
    }

    header {
        padding: 15px 20px;
    }

    .logo img {
        width: 50px;
    }

    .navbar {
        flex-direction: column;
        position: static;
        background: #fff;
        box-shadow: none;
        text-align: center;
        display: none;
    }

    .navbar.active {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }

    .navbar a {
        border: none;
        border-bottom: 1px solid var(--text-color);
    }
    .navbar a::after {
        display: none;
    }
}

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}