*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --color-primario:#1877f2;
    --color-secundario:#0a1f4a;
    --color-terciario:#1877f2;
    --color-texto-primario:#20b6e8;
    --color-texto-secundario:#156796;
    --color-negro-bajo:#212226;
    --color-plomo-claro:#666666;
}
/*H E A D E R*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 14%;
}
.logo img{
    max-width: 100%;
    width: 100px;
    height: auto;
}
.navlist{
    display: flex;
    align-items: center;
}
.navlist a{
    color: var(--color-secundario);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 25px;
    transition: all .45s;
}
.navlist a:hover{
    color: var(--color-texto-secundario);
    font-size: 17px;
}
.top-icon{
    display: flex;
    align-items: center;
}
.top-icon a{
    color: var(--color-secundario);
    font-size: 28px;
    margin: 0 6px;
    transition: all .42s;
}
.top-icon a:hover{
    color: var(--color-texto-secundario);
    font-size: 30px;
}
#menu-icon{
    color: var(--color-secundario);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 60px 14%;

}
.inicio{
    width: 100%;
    height: 100vh;
    background-color: var(--color-primario);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 6rem;
}