*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --color-primario:#1877f2;
    --color-secundario:#0a1f4a;
    --color-texto-primario:#20b6e8;
    --color-texto-secundario:#156796;
    --color-negro-bajo:#212226;
    --color-plomo-claro:#666666;
}
/*H E A D E R*/
